@use '../../base/colors.scss';

.contact-button {
  display: inline-block;
  text-decoration: none;
  color: colors.$color-quaternary;
  padding: 0.75rem;
  border: 1px solid colors.$color-quaternary;
  border-radius: 7px;
}